
//Menu Button
.menu-btn{
    position: absolute;
    z-index: 3;
    right:35px;
    top:35px;
    cursor: pointer;
    @include easeOut;

    .menu-line{
        width: 23px;
        height: 2px;
        margin: 0 0 5px 0;
        background: white;
    }
    //Rotate into Xž
    &.close {
        transform: rotate(180deg);

        .menu-line{
            
        }
    }

}


