
// mobile devices
@include sm{
    main#home h1{
        margin-top: 10vh;
    }
}

//tablets 
@include md{
    main{
        text-align:center;
        align-items: center;
        
        .lg-heading{
            line-height:1;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float:none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(0,100%,0);
        font-size: 24px;
    }

    .menu-branding{

        height: 25vh;
        transform: translate3d(0,-100%,0);

        .portrait{
            background:url("../img/portrait.png");
        }
    }
}

//desktops
@include lg{
   
}

//widescreens
@include xl{
    
}