@import "_config.scss";
@import "_menu.scss";

* {
  box-sizing: border-box;
}

//HEADINGS
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: $text-color;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: $text-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  height: 100%;

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 15rem;
    }
  }
  .text-secondary {
    color: $secondary-color;
  }

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
    }
    a:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }
}
